<!DOCTYPE html>
<html lang:th="el"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:lang="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:background="http://www.w3.org/1999/xhtml">
<head>

</head>

<body>

 <div   th:fragment="sidebar" >
    <aside>
        <div id="sidebar" class="nav-collapse ">

            <ul class="sidebar-menu" id="nav-accordion">

                <p class="centered"><a th:href="@{/index}">    <img th:src="@{/img/logistics.png}"  class="img-circle"
                                                                width="60px;" height="60px;"></a></p>
                <p class="centered">

                    <tr>
                         <th th:scope="row"> <span th:text="${user !=null} ?  ${user.getFirstname()}"></span>&nbsp</th>
                        <th th:scope="row"> <span th:text="${user !=null} ?  ${user.getLastname()}"></span></th>
                        <br>
                        <th th:scope="row"> <span style="color: yellow" sec:authentication="principal.authorities"></span></th>

                    </tr>
                </p>
                <button type="button" onclick="history.back()"  class="btn btn-primary" style="width: 100%;background: inherit;border-style: none;" th:title="πίσω" >
                    <h4 class="glyphicon glyphicon-circle-arrow-left">  </h4>
                </button>
                <li class="mt">
                    <a th:href="@{/index}">
                        <i class="fa fa-dashboard"></i>
                        <span>Αρχική</span>
                    </a>
                </li>

                <li class="sub-menu"  sec:authorize="hasAnyAuthority('SuperAdmin')">
                    <a href="javascript:;">
                        <i class="fa fa-university"></i>
                        <span>Αποθήκες</span>
                    </a>
                    <ul class="sub">
                        <li><a  th:href="@{/stores}">Προβολή</a></li>
                        <li><a  th:href="@{/stores/new}">Προσθήκη</a></li>
                    </ul>
                </li>

                <li class="sub-menu" sec:authorize="hasAnyAuthority('SuperAdmin')">
                    <a href="javascript:;">
                        <i class="fa fa-female"></i>
                        <span>Ενδύματα</span>
                    </a>
                    <ul class="sub">
                        <li><a  th:href="@{/materials}">Προβολή</a></li>
                        <li  sec:authorize="hasAnyAuthority('SuperAdmin')"><a  th:href="@{/materials/new}">Προσθήκη</a></li>
                    </ul>
                </li>

                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-truck"></i>
                        <span>Παραγγελίες</span>
                    </a>
                    <ul class="sub" sec:authorize="hasAnyAuthority('SuperAdmin')">
                        <li><a  th:href="@{/neworderByStores}">Νέες</a></li>
                        <li><a th:href="@{/viewAllOrders}">Όλες</a></li>

                    </ul>


                    <ul class="sub" sec:authorize="hasAnyAuthority('LocalAdmin')">
                        <li><a th:href="@{/viewAllOrders}">Όλες</a></li>
                        <li><a  th:href="@{/orders/new}">Νέα Παραγγελία</a></li>


                    </ul>

                </li>

                <li class="sub-menu" sec:authorize="hasAnyAuthority('LocalAdmin')">
                    <a href="javascript:;">
                        <i class="fa fa-tasks"></i>
                        <span>Αποθέματα Ενδυμάτων</span>
                    </a>
                    <ul class="sub">
                        <li><a th:href="@{/materials/materialsByStore}">Προβολή</a></li>
                    </ul>
                </li>




                <li class="sub-menu"  sec:authorize="hasAnyAuthority('SuperAdmin')">
                    <a href="javascript:;">
                        <i class="fa fa-book"></i>
                        <span>Διαχείριση Χρηστών</span>
                    </a>
                    <ul class="sub">
                        <li><a th:href="@{/users}">Προβολή</a></li>
                        <li><a th:href="@{/users/new}">Νέα Προσθήκη</a></li>
                    </ul>
                </li>

                <li class="sub-menu">
                    <a th:href="@{/users/change}">
                        <i class=" fa fa-unlock-alt"></i>
                        <span>Αλλαγή κωδικού</span>
                    </a>
                </li>

            </ul>

        </div>
    </aside>
 </div>



</body>
</html>
